.body{
    background-color: white;
    font-family: 'Baloo Thambi 2', cursive;
}
.header{
    position: -webkit-sticky;
    position: sticky;
    width: 95%;
    height: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 4px black;
    border-radius: 3px;
    margin: 0px auto;
    top: 0px;
    background-color: white;
}
.Person{
    position: relative;
    display: inline-block;
    color: #2D4571;
    text-decoration: none;
    border: white solid 1px;
    padding: 1px;
    border-radius: 3px;
    background-color: white;
    margin: 0px 10px;
}
.Person:hover{
    color:#7689A9;
    text-decoration: underline;
}
.intro{
    margin-top: 5px;
    border: solid 2px #2D4571;
    height: 100%;
    padding: 7px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px black;
}
.intro-header{
    margin-bottom: 5px;
}
.willkommen{
    font-size: 18px;
    font-weight: bold;
}
.ps{
    font-style: italic;
}
.welcomeBild{
    width: 100%;
    margin-top: 20px;
    box-shadow: 2px 2px 8px black;
    border-radius: 10px;
}
