body{
    font-family: 'Baloo Thambi 2', cursive;
    padding: 15px;
    font-size: 18px;
}
.header{
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    width: 97%;
    padding: 10px;
    box-shadow: 0px 0px 4px black;
    border-radius: 3px;
    margin: 0px auto;
    top: 0px;
    background-color: white;
    justify-content: space-evenly;
}
.Person{
    color: #2D4571;
    text-decoration: none;
    border: white solid 1px;
    padding: 1px;
    border-radius: 3px;
    background-color: white;
    text-align: center;
}
.Person:hover{
    color:#7689A9;
    text-decoration: underline;
}
/* Bis hier hin ist es nur die Kopfzeile*/
.Überschrift{
    margin-bottom: 10px;
}
.Überschrift-1{
    margin-top: 5px;
    margin-bottom: 5px;
}
td{
    width: 150px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}
th{
    font-size: 18px;
    color: white;
    padding: 5px;
    box-shadow: 0px 0px 4px black;
}
.tabelle{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 0px auto;
    width: 100%;
    box-shadow: 0px 0px 3px black;
    flex: 3 1 0px;
}
.head{
    background-color:#7689A9;
}
.button{
    align-self: flex-start;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: 0px 0px 4px black;
    color: white;
    background-color:#7689A9;;
    border: none;
    font-weight: bold;
}
.button:hover{
    background-color: #2D4571;;
    text-decoration: underline;
    cursor: pointer;
}
.image{
    position: relative;
    height: 400px;
    border: dotted 2px gray;
    border-radius: 5px;
    margin-right: 20px;
    flex: 1  1 0px;
}
.bild{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
.aboutme-text{
    font-size: 18px;
}
>>>>>>> 2aaccde448080ed50761b8841e4c2960577657e8
.flex{
    display: flex;
}
>>>>>>> c65851af9556deb1913cbc0cec1f299d921a0f93
